<div class="purchases-container">
  <h1>My purchases</h1>

  <% if current_user.purchases.any? %>
    <div class="row">
      <% current_user.purchases.each do |purchase| %>
        <div class="col-md-4">
          <div class="card">
            <% if purchase.gift.photo.attached? %>
              <%= image_tag purchase.gift.photo, class: "card-img-top" %>
            <% else %>
              <%= image_tag "logo.png", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= purchase.gift.name %></h5>
              <p class="card-text"><%= purchase.gift.description %></p>
              <p class="card-text">Price: <%= purchase.gift.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No purchases available.</p>
  <% end %>

  <%= link_to "Back to home", root_path %>
</div>
