<h1>My purchases</h1>

<h2><%= @event.name %></h2>
<p><%= @event.date %></p>

  <% @purchases.each do |purchase| %>
    <%= purchase.gift.name %>
    <%= purchase.gift.price %>
    <%= @purchase.payment_method %>
    <%= @purchase.total %>
  <% end %>
