<div class="main-container">
  <h1 class="new-purchase-title">Your purchase was successful!</h1>

  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="card-event">
        <div class="card-event-info">
          <div class="icon-calendar"><i class="fa-solid fa-calendar-days fa-sm" style="font-size: 2em; color: #57038b; vertical-align: -0.05em; margin-right: 10px; margin-left: 60px;"></i></div>
          <h3 class="h3-event"><%= @event.name %></h3>
          <p class="event-date"><%= @event.date %></p>
        </div>
      </div>

      <div class="card-purchase">
        <div class="card-purchase-info">
          <div class="img-gift">
            <% if @gift.photo.attached? %>
              <%= image_tag @gift.photo, class: "card-img-top mx-2 my-2" %>
            <% else %>
              <%= image_tag "placeholder-image.jpg", class: "card-img-top" %>
            <% end %>
          </div>

          <h3 class="h3-gift"><%= @purchase.gift.name %></h3>
          <div class="total-amount">Total amount: $ <%= @purchase.total %></div>
          <div class="payment-method-text"><%= @purchase.payment_method %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-links d-flex justify-content-between">
    <%= link_to "Back to event", event_path(@event, code: @event.code), class: "btn btn-back" %>
    <%= link_to "My purchases", purchases_path, class: "btn btn-back" %>
  </div>
</div>
