<h1>Create Event</h1>

<%= form_with model: @event, url: events_path, data: { turbo: false } do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
   <% if @event.errors[:name].any? %>
    <p class="error"><%= @event.errors[:name].first %></p>
  <% end %>

  <%= form.label :date %>
  <%= form.date_select :date %>
   <% if @event.errors[:date].any? %>
    <p class="error"><%= @event.errors[:date].first %></p>
  <% end %>

  <%= form.submit "Create Event" %>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-primary' %>

<%= form_with model: @event, local: true do |form| %>
