<h1>New Gift</h1>

<p>
  <%= simple_form_for [@event, @gift] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</p>
